@model IEnumerable<inz.Models.Song>

@{
    ViewData["Title"] = "_table";
}

<span class="text-danger mb-5 font-weight-bold">@TempData["checked"] </span>

<div class="table-responsive">
    <table class="table tableSong">
        <thead class="bg-danger table-borderless">
            <tr>
                <th> </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album.Name_Album)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist.Name_Artist)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <button asp-controller="Songs" asp-action="Like" asp-route-idSong="@item.ID_Song" asp-route-direction="true" class="btnEdit text-white ajax"><i class="fas fa-thumbs-up"></i></button>
                        <span> @item.Like</span>
                        <span>
                            &nbsp;
                            &nbsp;
                        </span>
                        <button asp-controller="Songs" asp-action="Like" asp-route-idSong="@item.ID_Song" asp-route-direction="false" class="btnEdit text-white ajax"><i class="fas fa-thumbs-down"></i></button>
                        <span> @item.Unlike</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (item.Album.Name_Album != null)
                        {
                            <button asp-controller="Songs" asp-action="Album" asp-route-nameAlbum="@item.Album.Name_Album" class="link btn ajax">@Html.DisplayFor(modelItem => item.Album.Name_Album)</button>
                        }
                        else
                        {
                            <span>Brak informacji</span>
                        }
                    </td>
                    <td>
                        <button asp-controller="Songs" asp-action="Artist" asp-route-name="@item.Artist.Name_Artist" class="link btn ajax">@Html.DisplayFor(modelItem => item.Artist.Name_Artist)</button>
                    </td>
                    <td>
                        <div class="dropdown w-0">

                            <button class="btn bg-danger textColor dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Więcej
                            </button>

                            <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton">

                                <button asp-action="Edit" asp-route-id="@item.ID_Song" class="dropdown-item textColor dropIndex btn btn-danger text-center ajax">
                                    <buton>Edytuj</buton>
                                </button>
                                <button asp-action="Details" asp-route-id="@item.ID_Song" class="dropdown-item textColor dropIndex btn btn-danger text-center ajax">
                                    <buton>Detale</buton>
                                </button>

                                @using Microsoft.AspNet.Identity;
                                @if (User.IsInRole("Admin") || item.ID_User == User.Identity.GetUserId())
                                {
                                    <button asp-action="Delete" asp-route-id="@item.ID_Song" class="dropdown-item textColor dropIndex btn btn-danger text-center ajax">
                                        <buton>Usuń</buton>
                                    </button>
                                }

                                <button asp-action="Favorite" asp-route-id="@item.ID_Song" asp-route-inFavorite="true" class="dropdown-item textColor dropIndex btn btn-danger text-center ajax">
                                    <span>Usuń z ulubionych</span>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        @if (item.UrlAzure != null)
                        {
                            <button onclick="change('https://pracainzynierska.blob.core.windows.net/mp3/' + '@item.UrlAzure', '@item.Title', '@item.Artist.Name_Artist', '@item.Album.ImgAlbumUrl')" id="btnPlay"><i class="fas fa-play-circle fa-2x"></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


