@model inz.Models.Song

@{
    ViewData["Title"] = "Details";
}


<div class="panelDiv textColor">
    <div class="row">
        <div class="col-4">
            <h5 class="text-danger">Tytuł:</h5> <h3>@Html.DisplayFor(model => model.Title)</h3>
        </div>
        <div class="col-4">
            <h5 class="text-danger">Album:</h5> <h3> @Html.DisplayFor(model => model.Album.Name_Album)</h3>
        </div>
        <div class="col-4 mb-4">
            <h5 class="text-danger">Artysta:</h5> <h3>@Html.DisplayFor(model => model.Artist.Name_Artist)</h3>
        </div>
        <div class="col-6">
            <h5 class="text-danger">Produkcja podkładu:</h5>
            @if (Model.Producer.Name_Producer != null)
            {
                <h3>@Html.DisplayFor(model => model.Producer.Name_Producer)</h3>
            }
            else
            {
                <h3>Brak danych</h3>
            }
        </div>
        <div class="col-6 mb-4">
            @{
                var date = Model.ReleaseSong.ToString("dd MMMM yyyy");
            }
            <h5 class="text-danger">Data publikacji:</h5>
            @if (date == "01 stycznia 0001")
            {
                <h3>Brak danych</h3>
            }
            else
            {
                <h3>@date</h3>
            }
        </div>
        <div class="col-12">
            <span class="text-danger">Teledysk:</span>
            <br />
            @if (Model.VideoUrl != null)
            {
                var url = @Model.VideoUrl;
                <iframe width="420" height="315" src="@url" class="ytVideo"></iframe>
            }
            else
            {
                <span>Brak danych</span>
            }
        </div>
    </div>
    <hr />
    <div class="mb-5">
        <span class="text-danger">Tekst utworu: </span>
        <br />
        @if (Model.TextSong != null)
        {
            <pre class="textColor text">@Model.TextSong</pre>
        }
        else
        {
            <span>Brak danych</span>
        }
    </div>
    <div>

        <form asp-action="Edit" asp-route-id="@Model.ID_Song" class="ajaxForm">
            <input type="submit" name="all" value="Edytuj" class="btn btnDiv textColor w-25 mx-auto" style="height:65%;" />
        </form>

        @await Html.PartialAsync("_ReturnToList")

    </div>
</div>
