@model IEnumerable<inz.Models.Songs>

@{
    ViewData["Title"] = "Search";
}

<div class="panelDiv textColor">

    <form asp-controller="Songs" asp-action="Index" method="get">
        <div class="input-group w-50 m-4 mx-auto">
            <input type="text" class="form-control input-lg border-danger searchBorder" placeholder="Wyszukaj utwór lub artyste" name="search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
            <div class="dropdown w-0">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton">
                    <input type="submit" name="all" value="Wyświetl wszystko" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </form>

    <div class="text-center m-5">
        <a asp-action=Create class="textColor btnDiv">Dodaj nowy utwór <i class="fas fa-plus-circle fa-lg"></i></a>
    </div>

    @if (ViewBag.ShowList)
    {
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-danger table-borderless">
                <tr>
                    <th>
                        Artysta
                    </th>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        Album
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @if (item.Album != null)
                            {
                                @Html.DisplayFor(modelItem => item.Album)
                            }
                            else
                            {
                                <p>Brak informacji</p>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Detale</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    }
    else
    {
        <p class="mt-5"> Brak zawartości do wyświetlenia</p>
    }
</div>
